// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  background-image: image-url('test1.jpg');
  height: 400px;
  width: 900px;
  background-size:cover;
}

.top-text {
    padding: 100px 300px 150px 30px;
    color : #ffffff;
    font-size : 20px;
      text-shadow    : 
       2px  2px 1px #003366,
      -2px  2px 1px #003366,
       2px -2px 1px #003366,
      -2px -2px 1px #003366,
       2px  0px 1px #003366,
       0px  2px 1px #003366,
      -2px  0px 1px #003366,
       0px -2px 1px #003366;
}

.toppage {
    width: 100%;
}


.img{
 margin-right: 80px;
 border: 2px solid #ffffff;
}
.img :hover{
  transform:scale(1.2,1.2);
}

.about-img {
   text-align: center;
   margin-bottom: 70px;
}