// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  background-image: image-url('natukumo1.png');
  height: 400px;
  width: 600px;
  background-size:cover;
}
