<% if @model == 'product' %>
  <h3>【商品の検索結果】検索ワード：<%= @content %></h3>
  <%= render 'public/products/index', product: @records %>
<%# elsif @model == 'genre'%>
 <!--<h3>【商品の検索結果】検索ワード：<%#= @content %></h3>-->
  <%#= render 'public/products/index', product: @records %>
<% else %>
  <h3>お探しの商品はありません</h3>
<% end %>