<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered ml-3">
            <thead>
                <th>ジャンル名</th>
            </thead>
            <tbody>
                <th>#</th>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <div class="main-container">
            <div class="text-center p-5">
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。<br>
            </div>
        </div>
        <h2>新着順</h2>
    　　　<!--最新の商品から４つ取り出す-->
    　　　
        <%= link_to "全ての商品を見る＞" %>
    </div>
</div>