/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 .userList{
  text-decoration: none;
}
 
 li {
  margin-right: 15px;
 }
 
 .opa {
  opacity: 0.1;
 }
 
 body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #d7cebb;
 }
 
 header {
  background-color: #dbedf0;
  margin-bottom: 20px;
 }
 
 html {
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
 
 .main { 
  flex: 1;
 }
 
 footer {
  padding: 20px;
  background-color: #dbedf0;
 }
 

.image1 {
  background-image: url(test6.jpg);
}
.image2 {
  background-image: url(test7.jpg);
}
.image3 {
  background-image: url(test8.jpg);
}
.image4 {
  background-image: url(test9.jpg);
}
.image5 {
  background-image: url(test10.jpg);
}

#about{
  height: 500px;
  margin-bottom: 30px;
}
